Makefile
Makefile.in
aclocal.m4
autogen.status
autom4te.cache
benchmarks/Makefile
benchmarks/Makefile.in
build-aux
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
fflas-ffpack-config
fflas-ffpack.pc
fflas-ffpack/Makefile
fflas-ffpack/Makefile.in
fflas-ffpack/config.h
fflas-ffpack/fflas-ffpack-optimise.h
fflas-ffpack/fflas/Makefile
fflas-ffpack/fflas/Makefile.in
fflas-ffpack/fflas/fflas_fgemm/Makefile
fflas-ffpack/fflas/fflas_fgemm/Makefile.in
fflas-ffpack/fflas/fflas_igemm/Makefile
fflas-ffpack/fflas/fflas_igemm/Makefile.in
fflas-ffpack/fflas/fflas_simd/Makefile
fflas-ffpack/fflas/fflas_simd/Makefile.in
fflas-ffpack/fflas/fflas_sparse/Makefile
fflas-ffpack/fflas/fflas_sparse/Makefile.in
fflas-ffpack/fflas/fflas_sparse/coo/Makefile
fflas-ffpack/fflas/fflas_sparse/coo/Makefile.in
fflas-ffpack/fflas/fflas_sparse/csr/Makefile
fflas-ffpack/fflas/fflas_sparse/csr/Makefile.in
fflas-ffpack/fflas/fflas_sparse/csr_hyb/Makefile
fflas-ffpack/fflas/fflas_sparse/csr_hyb/Makefile.in
fflas-ffpack/fflas/fflas_sparse/ell/Makefile
fflas-ffpack/fflas/fflas_sparse/ell/Makefile.in
fflas-ffpack/fflas/fflas_sparse/ell_simd/Makefile
fflas-ffpack/fflas/fflas_sparse/ell_simd/Makefile.in
fflas-ffpack/fflas/fflas_sparse/hyb_zo/Makefile
fflas-ffpack/fflas/fflas_sparse/hyb_zo/Makefile.in
fflas-ffpack/fflas/fflas_sparse/sell/Makefile
fflas-ffpack/fflas/fflas_sparse/sell/Makefile.in
fflas-ffpack/ffpack/Makefile
fflas-ffpack/ffpack/Makefile.in
fflas-ffpack/field/Makefile
fflas-ffpack/field/Makefile.in
fflas-ffpack/interfaces/Makefile
fflas-ffpack/interfaces/Makefile.in
fflas-ffpack/interfaces/libs/Makefile
fflas-ffpack/interfaces/libs/Makefile.in
fflas-ffpack/paladin/Makefile
fflas-ffpack/paladin/Makefile.in
fflas-ffpack/utils/Makefile
fflas-ffpack/utils/Makefile.in
interfaces/
libtool
macros/CodeChunk/Makefile
macros/CodeChunk/Makefile.in
macros/Makefile
macros/Makefile.in
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
optim.log
optimiser/Makefile
optimiser/Makefile.in
stamp-h1
tests/Makefile
tests/Makefile.in
tests/data/Makefile
tests/data/Makefile.in
benchmarks/benchmark-fgemm
benchmarks/benchmark-fgemm.o
benchmarks/benchmark-pluq
benchmarks/benchmark-pluq.o
tests/regression-check
tests/regression-check.log
tests/regression-check.o
tests/regression-check.trs
tests/test-compressQ
tests/test-compressQ.log
tests/test-compressQ.o
tests/test-compressQ.trs
tests/test-det
tests/test-det.log
tests/test-det.o
tests/test-det.trs
tests/test-echelon
tests/test-echelon.o
tests/test-fadd
tests/test-fadd.log
tests/test-fadd.o
tests/test-fadd.trs
tests/test-fgemm
tests/test-fgemm.log
tests/test-fgemm.o
tests/test-fgemm.trs
tests/test-fger
tests/test-fger.log
tests/test-fger.o
tests/test-fger.trs
tests/test-finit
tests/test-finit.log
tests/test-finit.o
tests/test-finit.trs
tests/test-fscal
tests/test-fscal.log
tests/test-fscal.o
tests/test-fscal.trs
tests/test-ftrsm
tests/test-ftrsm.o
tests/test-lu
tests/test-lu.o
tests/test-multifile
tests/test-multifile.log
tests/test-multifile.trs
tests/test-multifile1.o
tests/test-multifile2.o
tests/test-rankprofiles
tests/test-rankprofiles.log
tests/test-rankprofiles.o
tests/test-rankprofiles.trs
benchmarks/benchmark-charpoly.o
benchmarks/benchmark-dgemm.o
benchmarks/benchmark-dgetrf.o
benchmarks/benchmark-dgetri.o
benchmarks/benchmark-dtrsm.o
benchmarks/benchmark-dtrtri.o
benchmarks/benchmark-fgemm-mp.o
benchmarks/benchmark-ftrsm
benchmarks/benchmark-ftrsm-mp.o
benchmarks/benchmark-ftrsm.o
benchmarks/benchmark-ftrtri.o
benchmarks/benchmark-inverse.o
benchmarks/benchmark-lqup-mp.o
benchmarks/benchmark-lqup.o
benchmarks/benchmark-wino.o
benchmarks/benchmark_sgemm-benchmark-dgemm.o
