Makefile
Makefile.in
aclocal.m4
autom4te.cache
benchmarks/Makefile
benchmarks/Makefile.in
build-aux
*.o
*.lo
*.la
*~
*.libs
*.trs
*log
*status
*cache
*aux
config.h
config.h.in
config.status
configure
doc/Makefile
doc/Makefile.in
fflas-ffpack-config
fflas-ffpack.pc
fflas-ffpack/Makefile
fflas-ffpack/Makefile.in
fflas-ffpack/config.h
fflas-ffpack/fflas-ffpack-optimise.h
fflas-ffpack/fflas/Makefile
fflas-ffpack/fflas/Makefile.in
fflas-ffpack/fflas/fflas_fgemm/Makefile
fflas-ffpack/fflas/fflas_fgemm/Makefile.in
fflas-ffpack/fflas/fflas_igemm/Makefile
fflas-ffpack/fflas/fflas_igemm/Makefile.in
fflas-ffpack/fflas/fflas_simd/Makefile
fflas-ffpack/fflas/fflas_simd/Makefile.in
fflas-ffpack/fflas/fflas_sparse/Makefile
fflas-ffpack/fflas/fflas_sparse/Makefile.in
fflas-ffpack/fflas/fflas_sparse/coo/Makefile
fflas-ffpack/fflas/fflas_sparse/coo/Makefile.in
fflas-ffpack/fflas/fflas_sparse/csr/Makefile
fflas-ffpack/fflas/fflas_sparse/csr/Makefile.in
fflas-ffpack/fflas/fflas_sparse/csr_hyb/Makefile
fflas-ffpack/fflas/fflas_sparse/csr_hyb/Makefile.in
fflas-ffpack/fflas/fflas_sparse/ell/Makefile
fflas-ffpack/fflas/fflas_sparse/ell/Makefile.in
fflas-ffpack/fflas/fflas_sparse/ell_simd/Makefile
fflas-ffpack/fflas/fflas_sparse/ell_simd/Makefile.in
fflas-ffpack/fflas/fflas_sparse/hyb_zo/Makefile
fflas-ffpack/fflas/fflas_sparse/hyb_zo/Makefile.in
fflas-ffpack/fflas/fflas_sparse/sell/Makefile
fflas-ffpack/fflas/fflas_sparse/sell/Makefile.in
fflas-ffpack/ffpack/Makefile
fflas-ffpack/ffpack/Makefile.in
fflas-ffpack/field/Makefile
fflas-ffpack/field/Makefile.in
fflas-ffpack/interfaces/Makefile
fflas-ffpack/interfaces/Makefile.in
fflas-ffpack/interfaces/libs/Makefile
fflas-ffpack/interfaces/libs/Makefile.in
fflas-ffpack/paladin/Makefile
fflas-ffpack/paladin/Makefile.in
fflas-ffpack/utils/Makefile
fflas-ffpack/utils/Makefile.in
interfaces/
libtool
macros/CodeChunk/Makefile
macros/CodeChunk/Makefile.in
macros/Makefile
macros/Makefile.in
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
autotune/Makefile
autotune/Makefile.in
autotune/winograd-modular-double
autotune/winograd-modular-float
autotune/winograd-modularbalanced-double
autotune/winograd-modularbalanced-float
autotune/pluq
stamp-h1
tests/Makefile
tests/Makefile.in
tests/data/Makefile
tests/data/Makefile.in
benchmarks/benchmark-fgemm
benchmarks/benchmark-pluq
tests/regression-check
tests/test-compressQ
tests/test-det
tests/test-echelon
tests/test-fadd
tests/test-fgemm
tests/test-fger
tests/test-finit
tests/test-fscal
tests/test-ftrsm
tests/test-lu
tests/test-multifile
tests/test-rankprofiles
tests/test-bini-p
tests/test-charpoly-check
tests/test-fgemm-check
tests/test-ftrsm-check
tests/test-invert-check
tests/test-permutations
tests/test-pluq-check
tests/test-simd
tests/test-charpoly
tests/test-maxdelayeddim
benchmarks/benchmark-ftrsm
