**/Makefile
**/Makefile.in
**/.deps/

aclocal.m4
autom4te.cache
build-aux
*.o
*.lo
*.la
*~
*.libs
*.trs
*log
*status
*cache
*aux
.vscode
config.h
config.h.in
config.status
configure
fflas-ffpack-config
fflas-ffpack.pc
fflas-ffpack/config.h
fflas-ffpack/fflas-ffpack-thresholds.h
fflas-ffpack/fflas-ffpack-optimise.h
interfaces/
libtool
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
autotune/winograd-modular-double
autotune/winograd-modular-float
autotune/winograd-modularbalanced-double
autotune/winograd-modularbalanced-float
autotune/pluq
autotune/charpoly-Danilevskii-LUK
autotune/charpoly-Danilevskii-LUK-threshold.h
autotune/charpoly-LUK-ArithProg
autotune/charpoly-LUK-ArithProg-threshold.h
autotune/charpoly-threshold.h
autotune/fgemm-threshold.h
autotune/fgemm-thresholds.h
autotune/pluq-threshold.h
autotune/arithprog
autotune/arithprog-blocksize.h
autotune/fsyrk
autotune/fsyrk-threshold.h
autotune/fsytrf
autotune/fsytrf-threshold.h
autotune/ftrtri
autotune/ftrtri-threshold.h
stamp-h1
benchmarks/benchmark-fgemm
benchmarks/benchmark-fgemv-mp
benchmarks/benchmark-dgemm
benchmarks/benchmark-fgemm-mp
benchmarks/benchmark-fgemm-rns
benchmarks/benchmark-pluq
benchmarks/benchmark-lqup
benchmarks/benchmark-lqup-mp
benchmarks/benchmark-ftrsm
benchmarks/benchmark-dtrsm
benchmarks/benchmark-dgetrf
benchmarks/benchmark-checkers
benchmarks/benchmark-fsyrk
benchmarks/benchmark-ftrtri
benchmarks/benchmark-dtrtri
benchmarks/benchmark-dgetri
benchmarks/benchmark-fsytrf
benchmarks/benchmark-fspmv
benchmarks/benchmark-fspmm
benchmarks/benchmark-inverse
benchmarks/benchmark-quasisep
benchmarks/benchmark-charpoly
benchmarks/benchmark-sss
benchmarks/benchmark-quasisep
examples/det
examples/pluq
examples/charpoly
tests/regression-check
tests/test-compressQ
tests/test-det
tests/test-echelon
tests/test-fadd
tests/test-fgemm
tests/test-fger
tests/test-finit
tests/test-fscal
tests/test-ftrsm
tests/test-fsyrk
tests/test-fsytrf
tests/test-lu
tests/test-multifile
tests/test-nullspace
tests/test-rankprofiles
tests/test-bini-p
tests/test-charpoly-check
tests/test-fgemm-check
tests/test-ftrsm-check
tests/test-invert-check
tests/test-permutations
tests/test-pluq-check
tests/test-simd
tests/test-charpoly
tests/test-maxdelayeddim
tests/test-quasisep
tests/test-sss
test-det-check
test-fdot
test-fspmm-recint
test-ftrmm
test-ftrmv
test-ftrsv
test-ftrtri
test-igemm
test-io
test-minpoly
test-paladin-splitter
test-pfgemv
test-solve
tutorials/101-fgemm
tutorials/2x2-fgemm
tutorials/2x2-ftrsv
tutorials/2x2-pluq
tutorials/fflas-101_1
tutorials/fflas-101_3
tutorials/fflas_101
tutorials/fflas_101_lvl1
tutorials/ffpack-fgesv
tutorials/ffpack-solve
